:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 3px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.activeOnVoice0 { background-color: hsl(339 100% 88%) }
.activeOnVoice1 { background-color: hsl(192 100% 88%) }
.activeOnVoice2 { background-color: hsl(55 100% 88%) }

.activeOnVoice0.activeOnVoice1 { background-color: hsl(240 100% 88%) }
.activeOnVoice0.activeOnVoice2 { background-color: hsl(0 100% 88%) }
.activeOnVoice1.activeOnVoice2 { background-color: hsl(120 100% 88%) }

.activeOnVoice0.activeOnVoice1.activeOnVoice2 { background-color: hsl(120 0% 88%) }

.changingNumber {
  display: inline-block;
  font-family: monospace;
  width: 2em;
  text-align: right;
  padding: 2px 4px;
  border-radius: 3px;
}

.voice0 .changingNumber { background-color: hsl(339 100% 88%); }
.voice1 .changingNumber { background-color: hsl(192 100% 88%); }
.voice2 .changingNumber { background-color: hsl(55 100% 88%); }

.fresh {
  transform: scale(1.075);
  filter: brightness(1.03);
}

button {
  transition: transform 50ms ease-out;
}

.trackpos {
  outline-offset: 2px;
  outline: 3px solid #0004;
}

.trackRadios {
  margin-top: -16px;
  margin-bottom: 10px;
}

button.radio {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 30px;
  background-color: transparent;
  min-width: 50px;
}

button.radio.selected {
  background-color: #0001;
}

h4 {
  margin-top: 40px;
}
